:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-family: 'DM Serif Display';
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
  }
  