:host {
  z-index: 1000;
  width: 100%;
  width: inherit;
  position: fixed;
  top: 0;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  width: 1000px;
  height: 100px;
  margin: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
