:host {
  display: flex;
  flex-direction: column;
  height: 477px;
  width: 300px;
  margin: 10px;
  border-radius: 5px;
}

:host:hover {
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

