:host {
  width: inherit;
  position: fixed;
  top: 0;
  background-color: white;
}

div {
  height: 70px;
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
