<app-header>
  <app-header-menu></app-header-menu>
  <app-header-title siteTitle="Perception"></app-header-title>
  <app-header-cart></app-header-cart>
</app-header>
<app-content>
  <router-outlet></router-outlet>
</app-content>
<app-footer>
  <app-footer-section>
    <app-subscription-form>
      <app-footer-paragraph>
        Hello
      </app-footer-paragraph>
    </app-subscription-form>
  </app-footer-section>

  <app-footer-section>
    <app-footer-paragraph>
      Hello Again
    </app-footer-paragraph>
  </app-footer-section>
</app-footer>
