:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: auto;
  }
  
  .tile {
    background-color: lightcoral;
    height: 477px;
    width: 300px;
    margin: 10px;
  }
  