<app-center-column>
  <app-header>
    <app-header-menu></app-header-menu>
    <app-header-title siteTitle="Perception"></app-header-title>
    <app-header-cart></app-header-cart>
  </app-header>
  <app-content>
    <app-tiles>
      <app-tile></app-tile>
      <app-tile></app-tile>
      <app-tile></app-tile>
      <app-tile></app-tile>
      <app-tile></app-tile>
      <app-tile></app-tile>
      <app-tile></app-tile>
      <app-tile></app-tile>
      <app-tile></app-tile>
      <app-tile></app-tile>
      <app-tile></app-tile>
      <app-tile></app-tile>
      <app-tile></app-tile>
      <app-tile></app-tile>
    </app-tiles>
  </app-content>
  <app-footer></app-footer>
</app-center-column>
