<app-center-column>
  <app-header>
    <app-header-menu></app-header-menu>
    <app-header-title siteTitle="Perception"></app-header-title>
    <app-header-cart></app-header-cart>
  </app-header>
  <app-content>
    <app-tiles>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
    </app-tiles>
  </app-content>
</app-center-column>
