:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-family: 'DM Serif Display';
  font-size: 52px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 3px;
}

div {
  display: flex;
}

.black {
  color: black;
}

.grey {
  color: #414141;
}
